<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="container">
        <div class="add">
            <input type="file" id="task" class="task" placeholder="Add Task">
            <button id="add" class="btn">ADD</button>
        </div> 
        <div class="display" id="display">
        </div>
    </div>

    <script src="./js/custom.js"></script>
</body>
</html>